/* ::::: http://abakhi.com/css/site.css ::::: */

body { color: rgb(85, 85, 85); background: rgb(254, 254, 254) none repeat scroll 0% 0%; font-size: 16px; font-weight: 200; line-height: 1.4; }
h1, .h1, h2, .h2, h3, .h3 { margin-bottom: 20px; margin-top: 0px; }
h1 { font-size: 50px; color: rgb(245, 245, 245); font-weight: 800; margin-top: 30px; }
h2, .h2 { color: rgb(136, 137, 184); font-size: 1.8em; font-weight: 300; position: relative; text-align: center; text-transform: lowercase; }
h2 span { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px 20px; position: relative; z-index: 5; }
h3, .h3 { font-weight: 300; }
p { font-size: 1.2em; }
p.lead { font-size: 2em; }
strong { font-weight: 300; }
footer { padding-bottom: 30px; }
.intro { min-height: 600px; background: transparent url('../img/poly_background.jpg') repeat scroll 0px -500px; }
.navbar-default { background: transparent none repeat scroll 0% 0%; border: medium none; padding-top: 5px; }
.navbar-default .navbar-nav li a:link, .navbar-default .navbar-nav li a:visited, .navbar-default .navbar-nav li a:hover { color: rgb(255, 255, 255); }
.navbar-default .navbar-nav li a:hover { text-decoration: underline; }
.navbar-nav li.highlight { border-radius: 5px; border: 2px solid rgb(255, 255, 255); }
.navbar-nav li.highlight a:link, .navbar-nav li.highlight a:visited { color: rgb(255, 255, 255); }
.navbar-nav { margin: 20px 0px 0px; }
.navbar-nav > li { margin: 10px; }
.navbar-nav > li > a { padding: 5px; text-transform: lowercase; font-weight: 300; font-size: 18px; }
.navbar-default .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255); }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: transparent; }
#hello-greetings { padding: 50px 0px; position: relative; overflow: hidden; margin-top: 125px; }
.hello h1 { margin-bottom: 30px; }
.hello h2 { color: #342161 }
.section { padding: 30px 0px; clear: both; }
.contact p.lead { margin: 100px 0px; }
.button-link, .contact a { display: inline-block; border: 2px solid rgb(196, 222, 245); background-color: rgb(242, 249, 255); border-radius: 5px; padding: 3px 10px; margin-top: 10px; }
.profile-download, .button-link:hover, .button-link:focus, .contact a:hover, .contact a:focus { color: rgb(255, 255, 255); border: 2px solid rgb(66, 139, 202) ! important; background-color: rgb(66, 139, 202) ! important; text-decoration: none; }
.button-link { border-width: 1px; font-weight: 300; }
footer { border-top: 1px solid rgb(200, 219, 217); }
footer, footer h2 span { background: rgb(233, 240, 239) none repeat scroll 0% 0%; padding: 30px 0px; }
footer address { display: inline; }
.trsc-logo { margin-top: 10px; }
.text-muted { color: rgb(170, 170, 170); }
.bio { margin: 50px 0px 0px; }
.bio h3 { margin-top: 10px; }
.pic { width: 140px; height: 140px; position: relative; margin: 0px auto; }
.pic .photo { width: 140px; height: 140px; }
.pic .mask { position: absolute; top: 0px; left: 0px; }
.projects .project { margin: 50px 0px; }
.img-thumbnail { padding: 0px; }
.icon-attribution { font-size: 0.8em; text-align: center; }
.icon-attribution, .icon-attribution a:link, .icon-attribution a:visited { color: rgb(160, 160, 160); }
.offering p { padding: 10px; margin: 0px 10px; text-align: left; }
.offering-icon { width: 150px; height: 150px; background-image: url('../img/offering_icons.png'); border-radius: 50%; text-indent: -5000%; margin: 10px auto; padding: 0px; }
.offering-icon-idea { background-position: 0px 0px; }
.offering-icon-grow { background-position: -150px 0px; }
.offering-icon-support { background-position: -300px 0px; }
#what-we-do { padding: 20px }
a#brand-name {
	color: #fff;
	font-size: 30px;
	background-color: transparent;
	padding-top: 20px;
}

a#brand-name :hover {
	text-decoration: none !important;
}

#top-link-block.affix-top {
    position: absolute;
    bottom: -82px;
    left: 10px;
}
#top-link-block.affix {
    position: fixed;
    bottom: 18px;
    left: 10px;
}
